.footer{
	background-color: #121213;
	width: 100%;
	height:100%;
	float: left;
	font-size: 18px;
	padding: 50px 10px 50px 10px;
}
.footer .left{ 
	width:100%; 
	float:left; 
	border-bottom:1px #222424 solid;
	border-right:0; 
	margin-bottom:20px; 
    padding-bottom:20px;
}
.footer .title-footer {
	color: #ffffff;
	font-family: 'DM Sans', sans-serif;
	font-weight: initial;
    font-size:26px;
    width:100%;
    float:left;
    margin-bottom:15px;
}
.footer .title-footer span{
	color:  #2fcacf;
	font-family:'DM Sans', sans-serif;
	font-weight: bold;
}
/* Footer links */
.footer .links{
	
	width: 100%;
	float: left;
	color:  #ffffff;
	margin-bottom: 20px;
	padding: 0;
}
.footer .links a{
    display: block;
    line-height: 33px;
    text-decoration: none;
    color: #fff;
    font-family:'DM Sans', sans-serif;
    font-size:16px;
    transition:0.3s;
}
.footer .links a:hover { color:#2fcacf; }
.footer .Copyright{
	font-family:'DM Sans', sans-serif;
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 10px;
}
/*Rede Sociais*/
.footer .footer-icons{
	
	width:100%;
	float:left;
	margin-bottom:20px;
}
.footer .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 50px;
    font-family:'DM Sans', sans-serif;
	font-size: 20px;
	color: #ffffff;
	text-align: center;	
	line-height: 35px;
	margin-bottom: 5px;
	transition:0.3s;
}
.footer .footer-icons a:hover{ background-color:#2fcacf; }
/*Right*/
.footer .right   { width:100%; float:left; }
.footer .right p {
	font-family: 'DM Sans', sans-serif;
	font-weight: initial;
	display: inline-block;
	vertical-align: top;
	font-size: 30px;
	color: #ffffff;
}
/*formulario*/
.footer form { width:100%; float:left; }
.footer form input,
.footer form textarea{
	display: block;
	border-radius: 3px;
	box-sizing: border-box;
	background-color:  #1f2022;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
	border: none;
	resize: none;
    outline: none;
	font: inherit;
	font-size: 14px;
	font-family:'DM Sans', sans-serif;
	font-weight: normal;
	color:  #d1d2d2;
	width: 100%;
	padding: 18px;
}
.footer ::-webkit-input-placeholder {
	color:  #5c666b;
}
.footer ::-moz-placeholder {
	color:  #5c666b;
	opacity: 1;
}
.footer :-ms-input-placeholder{
	color:  #5c666b;
}
.footer form input{
	
	width: 100%;
	height: 55px;
	float: left;
	margin-bottom: 15px;
}
.footer form textarea{
	height: 100px;
	margin-bottom: 20px;
}
.footer form .btn{
	border-radius: 3px;
	background-color:  #1f2022;
	color: #ffffff;
	border: 0;
	padding: 15px 50px;
	font-family: 'DM Sans', sans-serif;
	font-weight: bold;
	float: left;
	cursor: pointer;
    transition: 0.3s;
}
.footer form .btn:hover { background-color:  #2fcacf; }
/*Responsive*/
@media (min-width: 1280px) {
	.footer               { padding: 100px 50px 50px 100px; }
	.footer .Copyright    { font-size: 16px; }
	.footer form input,
	.footer form textarea { width: 100%; float:left; }
	.footer form button   { padding: 10px 35px; }
}
@media (min-width: 768px) {
	
	.footer .left         { width:48%; border-bottom:0; }
	.footer .right        { width:48%; padding-left: 4%; border-left: 1px #222424 solid; } 
	.footer form          { margin-top: 30px; }
	.footer form          { display: block; }
	.footer form button   { float: none; }
}
h1{
    color: white;(236, 6, 6, 0.874);
    background-color: blue;
}

:root {
    --cor-primaria-success: rgb(75, 200, 138);
    --cor-hover-success: rgb(116, 158, 137);
    --cor-secundaria-success: rgb(27, 66, 50);
    
    --cor-primaria-info: rgb(61, 157, 246);
    --cor-hover-info: rgb(116, 134, 158);
    --cor-secundaria-info: rgb(31, 62, 88);

    --cor-primaria-danger: rgb(200, 75, 75);
    --cor-hover-danger: rgb(158, 116, 116);
    --cor-secundaria-danger: rgb(58, 22, 22);
}

.btn {
    border: none;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    transition: background .3s;
    border-radius: 5px;
}

/*SUCCESS*/
.btn-home {
    background-color: var(--cor-primaria-success);
    outline: none;
    color: var(--cor-secundaria-success)
}

.btn-home:hover {
    background-color: var(--cor-hover-success);
}

.btn-home:active {
    color:var(--cor-primaria-success);
    background-color: var(--cor-secundaria-success);
}

/*INFO*/
.btn-perfil{
    background-color: var(--cor-primaria-info);
    outline: none;
    color: var(--cor-secundaria-info)
}

.btn-perfil:hover {
    background-color: var(--cor-hover-info);
}

.btn-perfil:active {
    color:var(--cor-primaria-info);
    background-color: var(--cor-secundaria-info);
}

/*DANGER*/
.btn-configurações {
    background-color: var(--cor-primaria-danger);
    outline: none;
    color: var(--cor-secundaria-danger)
}

.btn-configurações:hover {
    background-color: var(--cor-hover-danger);
}

.btn-configurações:active {
    color:var(--cor-primaria-danger);
    background-color: var(--cor-secundaria-danger);
}
.header {
  
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    top:0;
    left:0;  
    width: 100%;
    z-index:1;
    float:left; 
  }
  .header ul {
    
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
  }
  .header li a {
    display: block;
    padding: 0.7em 0.5em;
    text-decoration: none;
    transition:.3s;
    border-bottom: 1px #f7f7f7 solid;
    color:#242424;  
  }
  .header li a:hover,
  .header .btn-mobile:hover {
    background-color: #02a1ee;
    color:#fff; 
  }
  .header .logo {
   
    display: block;
    float: left;
  }
  .header .nav {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  /* menu icon */
  .header .mobile-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  .header .mobile-icon .hamburguer {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  .header .mobile-icon .hamburguer:before,
  .header .mobile-icon .hamburguer:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  .header .mobile-icon .hamburguer:before {
    top: 5px;
  }
  .header .mobile-icon .hamburguer:after {
    top: -5px;
  }
  /* menu btn */
  .header .mobile-btn {
    display: none;
  }
  .header .mobile-btn:checked ~ .nav {
    max-height: 240px;
  }
  .header .mobile-btn:checked ~ .mobile-icon .hamburguer {
    background: transparent;
  }
  .header .mobile-btn:checked ~ .mobile-icon .hamburguer:before {
    transform: rotate(-45deg);
  }
  .header .mobile-btn:checked ~ .mobile-icon .hamburguer:after {
    transform: rotate(45deg);
  }
  .header .mobile-btn:checked ~ .mobile-icon:not(.steps) .hamburguer:before,
  .header .mobile-btn:checked ~ .mobile-icon:not(.steps) .hamburguer:after {
    top: 0;
  }
  .container {
    width:100%;
    float:left;
    margin-top:100px;    
  }
  .content { 
    float:left; 
    width:92%; 
    margin:0 4%;  
   
  }
  /* 48em = 768px */
  @media (min-width: 48em) {
    
    .header li { float:left; }
    
    .header li a {
      
      padding: 15px 30px;
      margin-top: 10px;
      border-radius: 6px;
    
    }
    .header .nav {
      clear: none;
      float: right;
      max-height: none;
    }
    
    .header .mobile-icon { display:none; }
    .header li a {
    
      transition:.3s;
      border-bottom:0; 
    
    }
    img{
          background-color: white;
          border: 2px solid black; 
          box-shadow: -5px -10px 30px rgb(69, 60, 60), 6px 9px 15px rgb(69, 60, 60); 
         -webkit-box-shadow: -5px -10px 30px rgb(69, 60, 60), 6px 9px 15px rgb(69, 60, 60);
           -moz-box-shadow: -5px -10px 30px rgb(69, 60, 60), 6px 9px 15px rgb(69, 60, 60); 
        }
        .profile-card{

            width:100%;
            max-width: 360px;
            height: auto;
            text-align: center;
            margin:auto;
            box-shadow: 0px 0px 8px rgba(56, 56, 56, 0.1);
        
        }
        
        .profile-card .profile-header{
        
            min-height: 88px;
        
        }
        
        .profile-card .profile-body{
        
            background-color: #ffffff;
            padding: 20px 40px 40px 40px;
        
        }
        
        .profile-card .profile-body .img-perfil{
        
            margin-top: -85px;
            margin-bottom: 20px;
        
        }
        
        .profile-card .profile-body .img-perfil img{
        
            width: 120px;
            height: 120px;
            border-radius: 50%; 
            padding: 3px;
            background-color: #ededed;
        
        }
        
        .profile-card .profile-body .titulo{
           
           font-size: 30px;
           color: #007cff;
        }
        
        .profile-card .profile-body .descricao{
        
           font-size: 14px;
           font-weight: 400;
           line-height: 1.6;
           margin: 20px  0px 30px  0px;
        
        }
        
        .redes-sociais ul {
        
            list-style-type: none;
        
        }
        
        .redes-sociais ul li {
        
            display: inline-block;
        
        }
        
        .redes-sociais ul li a {
          
          margin-right: 5px;
          width: 40px;
          height: 40px;
          border:1px solid #ddd;
          display: block;
          text-decoration: none;
          border-radius: 50%;
          transition: all 0.5s ease-out;
         
        }
         
        .redes-sociais ul{
         
          margin:0;
          padding:0;
         
        }
         
        .redes-sociais ul li a:hover {
         
          background-color: #007cff;
          border:1px solid #007cff;
         
        }
          
        .redes-sociais ul li a i{
         
           line-height: 40px;
           color:#666;
         
        }
          
        .redes-sociais ul li a i:hover,
        .redes-sociais ul li a:hover i{
         
           color:#ffffff;
          
        }
        *,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

html {
  box-sizing: border-box;
  font-size: 62.5%; 
}

body {
  font-family: "Nunito", sans-serif;
  color: #333;
  font-weight: 300;
  line-height: 1.6; 
}

.container {
  width: 60%;
  margin: 2rem auto; 
}

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 1.5rem; 
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; 
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;

  /** Sintaxe alternativa **/
  /* grid-column: 1 / span 2;  */
  /* grid-row: 1 / span 2; */
}

.gallery__item--2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;

  /** Sintaxe alternativa **/
  /* grid-column: 3 / span 2;  */
  /* grid-row: 1 / span 2; */
}

.gallery__item--3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;

  /** Sintaxe alternativa **/
  /* grid-column: 5 / span 4;
  grid-row: 1 / span 5; */
}

.gallery__item--4 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 6;

  /** Sintaxe alternativa **/
  /* grid-column: 1 / span 4;  */
  /* grid-row: 3 / span 3; */
}

.gallery__item--5 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 9;

  /** Sintaxe alternativa **/
  /* grid-column: 1 / span 4; */
  /* grid-row: 6 / span 3; */
}

.gallery__item--6 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 9;

  /** Sintaxe alternativa **/
  /* grid-column: 5 / span 4; */
  /* grid-row: 6 / span 3; */
}
body{
    background:url(2486289-gradiente-fundo-instagram-gratis-vetor.jpg) ;
}
.container{
    align-items: center;
}
body {
     font-family: Arial, sans-serif;
     background-color: #f7f7f7;
    }h1 {
     text-align: center;
    margin-top: 40px;
    }form {
     width: 50%;
     margin: 0 auto;
     background-color: #fff;
     padding: 20px;
     border-radius: 10px;
     box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }label {
     display: block;
     margin-bottom: 10px;
    }input[type="text"],
    input[type="email"],
    input[type="password"],
    select {
     width: 100%;
     padding: 10px;
     border-radius: 5px;
     border: none;
     margin-bottom: 20px;
    }input[type="submit"] {
     background-color: #4CAF50;
     color: #fff;
     padding: 10px 20px;
     border: none;
     border-radius: 5px;
     cursor: pointer;
    }
    .logo{
      background-size: 20%;
    }